In [1]:
import numpy as np
import pandas as pd
from mesostat.utils.hdf5_io import DataStorage

# Storing datasets

In [2]:
ds = DataStorage('test.h5')
for name in ['lolo', 'yolo', 'lolo']:
    aaa = np.random.normal(0, 1, (100, 20, 3))
    ds.save_data(name, aaa, {'animal': 'cat'})

In [3]:
ds.list_dset_names()

['dset0', 'dset1', 'dset2']

In [4]:
ds.list_dsets_pd()

  animal            datetime   dset  name         shape
0    cat 2020-11-30 14:49:42  dset0  lolo  (100, 20, 3)
1    cat 2020-11-30 14:49:42  dset1  yolo  (100, 20, 3)
2    cat 2020-11-30 14:49:42  dset2  lolo  (100, 20, 3)

# Storing dataframes

In [2]:
df = pd.DataFrame({
    "age" : [5,3,7],
    "animal" : ['cat', 'dog', 'cat'],
    "weight" : [3.7, 20.1, 6.2]
})

df

   age animal  weight
0    5    cat     3.7
1    3    dog    20.1
2    7    cat     6.2

In [3]:
df.to_hdf('test2.h5', 'animals', mode='w', format='table', data_columns=True)

In [4]:
df2 = pd.read_hdf('test2.h5', 'animals')

In [5]:
df2

   age animal  weight
0    5    cat     3.7
1    3    dog    20.1
2    7    cat     6.2