In [3]:
import numpy as np
from mesostat.utils.hdf5_io import DataStorage

In [4]:
ds = DataStorage('test.h5')
for name in ['lolo', 'yolo', 'lolo']:
    aaa = np.random.normal(0, 1, (100, 20, 3))
    ds.save_data(name, aaa, {'animal': 'cat'})

In [5]:
ds.list_dset_names()

['dset0', 'dset1', 'dset2']

In [7]:
ds.list_dsets_pd()

  animal             datetime   dset  name         shape
0    cat  14/10/2020 16:28:21  dset0  lolo  (100, 20, 3)
1    cat  14/10/2020 16:28:21  dset1  yolo  (100, 20, 3)
2    cat  14/10/2020 16:28:21  dset2  lolo  (100, 20, 3)